/*
    Brianne Hulgan
    MyBio Assignment
*/
html {
    background-color: #d6d3d0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: 'Oswald', Verdana, Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 30px 10%;
    align-items: center;
    background-color: #466658;
    color: #d6d3d0;
    height: 20px;
    font-size: larger;
    border-bottom: 15px solid #899897;
}

h1 {
    font-weight: 400;
}

h2 {
    text-shadow: 1px 1px 1px black;
}

#navbar a {
    float: left;
    color: #d6d3d0;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: #325d33;
    color: #d6d3d0;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    height: 350px;
    width: auto;
    object-fit: scale-down;
}

.hobbies {
    min-height: 250px;
    color: #325d33;
    text-align: center;
}

.experience {
    min-height: 250px;
    color: #325d33;
    text-align: center;
}

.columns {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 95%;
}

.card-title {
    text-align: center;
    font-size: 1.5em;
    font-weight: 400;
    color: #466658;
}

.card-content {
    padding: 2px 16px;
    color: #466658;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.contact {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    margin-bottom: 10%;
}

.full-width {
    width: 100%;
}

.contact-form {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-left: 20%;
}

.contact-field {
    padding: 20px;
}

.btn {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 15px 32px;
    color: #000;
}

.input {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-primary {
    background-color: #466658;
    color: #d6d3d0;
}

.btn-primary:hover {
    background-color: #325d33;
    color: #d6d3d0;
}

footer {
    background-color: #466658;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    color: #d6d3d0;
    font-weight: 400;
    float: right;
    padding-right: 10px;
    font-style: italic;
}

footer a {
    text-decoration: none;
    color: #d6d3d0;
}

footer a:hover {
    text-decoration: underline;
}