/*
    Brianne Hulgan
    Mybio Assignment
*/
html {
    background-color: #d6d3d0;
}

body {
    margin: 0;
    font-family: 'Oswald', Verdana, Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 30px 10%;
    align-items: center;
    background-color: #466658;
    color: #d6d3d0;
    height: 20px;
    font-size: larger;
    border-bottom: 15px solid #899897;
}

h1 {
    font-weight: 400;
}

/* landing page specific styling */
#content {
    padding-top: 50px;
    padding-right: 150px;
    padding-left: 150px;
    padding-bottom: 50px;
    margin: auto;
}

#row {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
img {
    height: 350px;
    width: auto;
    object-fit: scale-down;
}

figcaption {
    text-align: center;
}

.card {
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-title {
    text-align: center;
    font-size: 2em;
    font-weight: 400;
    color: #152636;
}

.card-content {
    padding: 2px 16px;
    color: #152636;
}

.card-content a {
    text-decoration: underline;
    color: #259faf;
}

.card-content a:hover{
    text-decoration: underline;
    
    color: #044553;
}

footer {
    background-color: #466658;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    color: #d6d3d0;
    font-weight: 400;
    float: right;
    padding-right: 10px;
    font-style: italic;
}

footer a {
    text-decoration: none;
    color: #d6d3d0;
}

footer a:hover {
    text-decoration: underline;
}